<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>App</title>
    <style type="text/css">
      body {
        background-color: black;
        color: white;
      }
    </style>
  </head>
  <body>

    <header>
      <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/history">History</a>
      </nav>
    </header>

    {{{ body }}}

    <footer>
      <p>All rights reserved<p>
    </footer>

  </body>
</html>