{{#if isError}}
<div class="isError">You can't leave any of forms empty!</div>
{{/if}}
{{#if isSent}}
<div class="isSent">Your message has been sent!</div>
{{/if}}

{{#if author}}
<h2>{{author}}</h2>
{{/if}}

<form action="/contact/send-message" enctype="multipart/form-data" method="POST">
  <label>
    Your name: <input type="text" name="author">
  </label>
  <label>
    Your email: <input type="email" name="sender">
  </label>
  <label>
    Title: <input type="text" name="title">
  </label>
  <label>
    Project design: <input type="file" name="file" accept="image/x-png,image/gif,image/jpeg,image/jpg">
  </label>
   <label>
    Message: <textarea name="message"></textarea>
  </label>
  <button type="submit">Send message</button>
</form>
